<!DOCTYPE html>
<html lang="es">

<head>
    <title>login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jesus Mata">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/signin.css">
    <!--<link rel="" type="" href="">-->
    
</head>

<body class="text-center">
    <form class="form-signin" action="/login/auth" method="POST">
        <img class="mb-4" src="/static/img/undraw_profile_2.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Inicie Sessión</h1>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" class="form-control" name="email" placeholder="Email address"  autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
    
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <%- include('plantilla/scripts.ejs'); %>
    <% if(typeof alert != "undefined") { %>
        <script type="text/javascript">
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton:'<%= showConfirmButton %>',
                time: '<%= time %>',
            }).then(()=>{
                window.location=' '
            });
        </script>
    <% } %>
</body>

</html>

