<%- include('../plantilla/head.ejs');%>
<%- include('../plantilla/navbar.ejs'); %>
<div class="container-fluid">
    <div class="row">
        <%- include('../plantilla/sidebarMenu.ejs'); %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-3 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <main class=" col-auto">
            	<table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% datos.forEach((user) => {%>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.user %></td>
                            <td><%= user.email %></td>
                            <td><%= user.rol %></td>
                            <td>
                                <a href="/home/registro/<%= user.id %>"class="btn btn-outline-info">editar</a>
                                <a href=""class="btn btn-outline-danger">Borrar</a>
                            </td>
                        </tr>
                    <% }) %>    
                    
                </tbody>
            </table>
            </main>
            
        </main>
        </main>
    </div>
</div>
<br>
<%- include('../plantilla/footer'); %>
<%- include('../plantilla/scripts.ejs'); %>
<% if(typeof alert != "undefined") { %>
        <script type="text/javascript">
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton:'<%= showConfirmButton %>',
                time: '<%= time %>',
            }).then(()=>{
                window.location='/home'
            });
        </script>
    <% } %>
</body>

</html>
